@model IEnumerable<string>
<div class="col-12 d-grid mb-1">
    <a class="btn btn-block btn-outline-secondary"href="/">Главная страница</a>
</div>

@foreach (string category in Model) {
    string url = "/Catalog/Brand/" + category;
    <div class="col-12 d-grid mb-1">
        <a class='btn btn-block  @(category == ViewBag.SelectedCategory? "btn-primary": "btn-outline-secondary")' href="@url">@category</a>
    </div>
}