@model ProductsListViewModel

@{
    ViewData["Title"] = "Home Page";
    
}

<div id="categories" class="col-3">
            <vc:navigation-menu product="new Product()" />
</div>
<div class="col-9">
    <div class="text-center">
        <h1 class="display-4">@Model.CurrentCategory</h1>

        <div class="row">
            @foreach (var p in Model.Products) {
               <partial name="Partials/ProductSummary" model="p" />                //await ViewStart.ProductSummary(p);
            }
        </div>
            <div class="row">            <div page-model="@Model.PagingInfo" page-action="Brand" page-classes-enabled="true"
                 page-class="btn m-1 " page-class-normal="m-1 btn-outline-dark"
                 page-class-selected="btn-primary" 
                 class="pull-right m-1">
            </div>        </div>   
    </div>
</div>