<div class="wrapper">
    <div class="container-fluid container-xl">
        <div class="row mainSlider__area py-2 py-lg-3">
            <div class="mainLink col-3">
                <div class="mainLink__itemOuter"> <a class="mainLink__item" href="#"><img src="~/img/slider/01.jpg" alt="" /><span>Заголовок</span></a></div>
                <div class="mainLink__itemOuter"> <a class="mainLink__item" href="#"><img src="~/img/slider/02.jpg" alt="" /><span>Заголовок 2</span></a></div>
            </div>
            <div class="col-6">
                <div class="mainSlider swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="~/img/slider/01.jpg" alt="" /></div>
                        <div class="swiper-slide"><img src="~/img/slider/02.jpg" alt="" /></div>
                        <div class="swiper-slide"><img src="~/img/slider/03.jpg" alt="" /></div>
                        <div class="swiper-slide"><img src="~/img/slider/01.jpg" alt="" /></div>
                        <div class="swiper-slide"><img src="~/img/slider/02.jpg" alt="" /></div>
                        <div class="swiper-slide"><img src="~/img/slider/03.jpg" alt="" /></div>
                    </div>
                    <div class="swiper-pagination mainSlider__pag"></div>
                    <div class="swiper-button-next mainSlider__next"></div>
                    <div class="swiper-button-prev mainSlider__prev"></div>
                </div>
            </div>
            <div class="mainLink col-3">
                <div class="mainLink__itemOuter"> <a class="mainLink__item" href="#"><img src="~/img/slider/03.jpg" alt="" /><span>Заголовок 3</span></a></div>
                <div class="mainLink__itemOuter"> <a class="mainLink__item" href="#"><img src="~/img/slider/01.jpg" alt="" /><span>Заголовок 4</span></a></div>
            </div>
        </div>
    </div>
</div>